.venv/
venv/
env/

**pycache**/
*.py[cod]
*$py.class

build/
dist/
*.egg-info/
*.egg

sports_betting_ruin*

.ipynb_checkpoints/

*.log

.vscode/
.idea/


.DS_Store
Thumbs.db

src/sports_betting_ruin_sim.egg-info

.python-version